body {
    font-family: 'Dosis', sans-serif;
    background-color: darkblue;
    color: white;
  }

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkblue;
    width: 100%;
    border: none;
}

.singleday{
    padding: 5px;
    margin: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.icon {
    display: flex;
    justify-content: center;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.city {
    padding-top: 50px;
    font-size: 50px;
}

img {
    width: 50%;
}

.input {
    background: transparent;
    font-size: 30px;
    border: 0;
    border-bottom: 2px solid #1976D2;
    color: white;
}

.button {
    border: 0;
    border-radius: 25px;
    background-color: white;
}

.form {
    padding: 20px;
}